/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333; /* Dark background color for the navbar */
  padding: 1rem;
  position: fixed; /* Keeps the navbar at the top of the screen */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it’s above other content */
}

.logo-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Adjust the height of the logo as needed */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0 1rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1rem; /* Adjust font size as needed */
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar-link.active {
  text-decoration: underline; /* Style for the active link */
  color: #f0f0f0; /* Change color on hover */
}
