/* Navbar container styling */
.navbar {
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  /* Logo container styling */
  .logo-container {
    margin-right: 30px;
  }
  
  /* Navbar logo styling */
  .navbar-logo {
    height: 40px;
    margin-left: 20px;
  }
  
  /* Navbar list styling */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
  }
  
  /* Navbar list item styling */
  .navbar li {
    margin: 0 20px;
  }
  
  /* Navbar link styling */
  .navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s, background-color 0.3s;
  }
  
  /* Hover effect for links */
  .navbar-link:hover {
    color: orange;
  }
  
  /* Hover effect underline */
  .navbar-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  /* Show the underline on hover */
  .navbar-link:hover::after {
    transform: scaleX(1);
  }
  
  /* Active link styling */
  .navbar-link.active {
    background-color: orange;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
  }
  